* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body {
  background-color: #0d0d0d;
  color: white;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 50%;
  display: flex;
}

.picture {
  display: block;
  max-width: 40%;
  max-height: 640px;
  width: auto;
  height: auto;
  vertical-align: text-bottom;
  border-radius: 7px;
  margin-right: 25px;
}

.introduction {
  text-align: justify;
  font-size: 22px;
}
